# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other files
*.orig
Makefile
config.log
config.settings
config.status
extras/regexp/
extras/tre-0.6.8/
extras/tre.tar
extras/tre.tar.gz.bak
include/setup.h
ircdcron/ircdchk
src/include
src/ircd
src/modules/Makefile
src/version.c
unreal
client_state.xml
gui_rpc_auth.cfg
lockfile
server.cert.pem
server.key.pem
server.req.pem
ssl.rnd
time_stats_log
